body {
	font-family: cursive;
	font-size: 35px;
	color: black;
	height: 100%;
}

.backgroundBlack {
	background-color: black;
}

.backgroundImage {
	background-image: url("../img/utils/background.jpg");
	background-repeat: repeat;
}

h1 {
	text-align: center;
	margin-top: 100px;
	font-size: 50px;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: underline;
}

.menu-chapter {
	width: 1200px;
	min-height: 500px;
	display: flex;
	justify-content: space-around;
	margin-left: auto;
	margin-right: auto;
	margin-top: 150px;
}

.menu-entry {
	width: 450px;
	height: 250px;
	text-align: center;
	display: flex;
	flex-direction: column;
}

.menu-entry img {
	width: 200px;
	height: 200px;
	border-radius: 30px;
	border-style: solid;
	border-width: 2px;
	border-color: #444343;
}

/* .menu-chapter a {
	padding-bottom: 10px;
} */

.menu-entry:hover > a > img {
	box-shadow: 15px 15px 15px #444343;
}

.menu-entry:hover > a {
	text-decoration: underline;
}
